<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Map attack</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>
   <!-- leaflet -->
 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.1/leaflet.css" />
 <script src="http://cdn.leafletjs.com/leaflet/v1.0.1/leaflet.js"></script>
 <!-- mapbox -->
<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />

 
  
</head>


<body>
<div id="map" style="height: 100%;"></div>

<script type="text/javascript">
  // The first parameter are the coordinates of the center of the map
  // The second parameter is the zoom level
  var map = L.map('map').setView([ 44.0521, -123.0868], 12);
  
  // {s}, {z}, {x} and {y} are placeholders for map tiles
  // {x} and {y} are the x/y of where you are on the map
  // {z} is the zoom level
  // {s} is the subdomain of cartodb
    var layer = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
	accessToken: 
  });
  

  // Now add the layer onto the map
  map.addLayer(layer);
  

var popup = L.popup()
    	.setLatLng([44.0521, -123.0868])
    	.setContent("Eugene, OR")
    	.openOn(map);

var marker = L.marker([{{session.lat[session.dest[0]]}},{{session.long[session.dest[0]]}}]).addTo(map);
var marker = L.marker([{{session.lat[session.dest[1]]}},{{session.long[session.dest[1]]}}]).addTo(map);
var marker = L.marker([{{session.lat[session.dest[2]]}},{{session.long[session.dest[2]]}}]).addTo(map);
var res = ""
function onMapClick(e) {
    popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(map);
		
	map.geocodeReverse(
  { latitude: e.latlng.lat, longitude: e.latlng.lng },
  function(err, res) {
  // res is a GeoJSON document with geocoding matches
	
	
  })
  ;
 layer = L.geoJSON().addTo(map);
	layer.addData(res); 
  
  
	}



	
map.on('click', onMapClick);


</script>

</body> </html>
